:root {
    --primary: #1e90ff;
    --secondary: #129862;
    --font-primary: "Fredoka", sans-serif;
    --font-secondary: "Lalezar", cursive;
}

*,
:before,
:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 10px;
}

.board .board-header {
    padding: 20px 0;
    color: var(--primary);
    font-family: var(--font-primary);
    text-align: center;
}

.team {
    padding: 10px 0;
}

.team table tr td {
    padding: 5px 15px;
}

.data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.data-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.data-item .data-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 8px;
}

.data-item .data-value {
    border: 1px solid black;
    padding: 30px 60px;
    font-weight: bold;
    font-size: 1.6em;
}
